<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        body{
            background: #B0C4DE;
            color: #FFFFFF;
        }
        TD {
            vertical-align: top;
        }
        .col1 {
            outline: 2px solid #000;
            width: 50%;
            background: #008B8B;
            color: #000000;
        }
        .col2 {
            outline: 2px solid #000;
            width: 50%;
            background: #20B2AA;
            color: #000000;
        }
        .col3 {
            outline: 2px solid #000;
            width: 50%;
            background: #66CDAA;
            color: #000000;
        }
        .colbutton {
            outline: 2px solid #000;
            width: 1%;
            background: #66CDAA;
            color: #000000;
        }
        .colcap {
            outline: 2px solid #000;
            background: #87CEEB;
            color: #000000;
        }
        .colnone {
            display:none;
            background: #87CEEB;
            color: #000000;
        }
        .box {
            outline: 2px solid #000;
            background: #AFEEEE;
            color: #000000;
        }
    </style>

</head>
<body>
Hello, world!

<table>
    <tr>
        <th>author</th>
        <th>message</th>
    </tr>

    {{#notice}}
    <tr>
        <td>{{author}}</td>
        <td>{{message}}</td>
    </tr>
    {{/notice}}

</table>

<h2><span>Таблица организаций-заказчиков</span></h2>
<div class="box">
    <h2>Добавить запись в таблицу</h2>
    <form method="post" action="/addCustomer">
        <input type="text" name="fullname">
        <input type="text" name="info">
        <button type="submit">Добавить</button>
    </form>
    <table style="width: 100%; cellpadding: 5; cellspacing: 0">
        <tr>
            <td class="colnone"><pre>id</pre></td>
            <td class="colcap"><pre>Наименование организации заказчика</pre></td>
            <td class="colcap"><pre>Контактные данные</pre></td>
            <td class="colcap"><pre></pre></td>
        </tr>
        {{#notice}}
        <tr>
            <td class="colnone"><pre>{{id}}</pre></td>
            <td class="col1"><pre>{{author}}</pre></td>
            <td class="col2"><pre>{{message}}</pre></td>
            <td class="colbutton"><pre>
                <form onsubmit="
                fetch('http://localhost:8080/notice?id={{id}}', {method: 'DELETE'});
                location.reload();
                return false;
                ">
                    <input type="hidden" name="id" value={{id}}>
                    <input type="submit" value="Удалить" />
                </form>
            </pre>
            </td>
        </tr>
        {{/notice}}
    </table>
</div>

</body>
</html>